{% extends 'base.html' %}

{% block title %}Home{% endblock %}


{% block javascript %}

    $(window).bind("pageshow", function() {
        var form = $('form');
        form[0].reset();
    });

    $('form').on('submit', function(e) {
        var form = this;
        setTimeout(function() {
            form.submit();
        }, 3000);
        return false;
    });



{% endblock %}

{% block upload %}

    <div class="status-board" id="status-board"></div>

    <form class="form-inline" method="post" action="/upload" enctype="multipart/form-data">
        {% csrf_token %}

        <div class="form-group fileupload">
            <label for="imgUpload">

                <div class="hidden-xs hidden-sm">
                    <span class="btn btn-default">Upload</span>
                </div>

                <div class="hidden-md hidden-lg">
                    <div class="text-center">
                        <span style="font-size:15em;" class="glyphicon glyphicon-camera" aria-hidden="true"></span>
                    </div>
                </div>

            </label>
            <input type="file"
                   id="imgUpload"
                   name="image"
                   accept="image/*;capture=camera"
                   onchange="this.form.submit();"
                   class="upload"
                >
        </div>

    </form>




{% endblock %}


{% block content %}
    <div class="container">


        <div class="row" id="imgList">
            {% for ea in item %}
            <span class="thumb-wrap">
                <a href="{{ ea.imagename }}">
                    <img src="{{ea.thumbname}}">
                </a>
            </span>
            {% endfor %}
        </div>

    </div>

{% endblock %}
