{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block javascript %}

<script>

    if (!!window.EventSource) {
        var source = new EventSource('subscribe');
    }

    source.addEventListener('message', function(e) {
        console.log(e.data);
    }, false);

    source.addEventListener('open', function(e) {
        // Connection was opened.
    }, false);

    source.addEventListener('error', function(e) {
        if (e.readyState == EventSource.CLOSED) {
            // Connection was closed.
        }
    }, false);


</script>

{% endblock %}

{% block content %}
<form method="post" action="/upload" enctype="multipart/form-data">
    {% csrf_token %}
    <input type="file" name="image" id="imgUpload" accept="image/*" capture="camera">
    <button type="submit">Submit</button>
</form>
<hr>
<div>
{{location}}
{% for ea in item %}
<a href="{{ ea.imagename }}"><img src="{{ea.thumbname}}"></a>
{% endfor %}

</div>

{% endblock %}
